{% extends 'centro_costos/base.html' %}

{% block content %}
  <h1>Costos</h1>

  <a href="{% url 'costo_crear' %}">Crear nuevo costo</a>
  <a href="{% url 'exportar_costos' %}" class="btn btn-success">📊 Exportar a Excel</a>


  {% if costos %}
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      {% for costo in costos %}
      <tr>
        <td>{{ costo.id }}</td>
        <td>{{ costo.descripcion }}</td>
        <td>{{ costo.tipo_costo.nombre }}</td>
        <td>
          <a href="{% url 'costo_act' costo.id %}">Editar</a>
          <a href="{% url 'costo_eliminar' costo.id %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No hay costos registrados.</p>
  {% endif %}
{% endblock %}
