<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Bienvenido al dashboard de la organización.</p>
    <a href="{% url 'producto_lista' %}" class="text-white small">Ver producto →</a>
    <a href="{% url 'gastos_comunes' %}" class="text-white small">Ver gastos comunes →</a>
    <a href="{% url 'reparto' %}" class="text-white small">Ver repartos →</a>
</body>
</html>




