{% extends "base.html" %}
{% load static %}
{% with hide_navbar=True %}

{% block title %}Iniciar Sesión{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-ingresar">Ingresar</button>
    </form>
    <a href="{% url 'registro' %}" class="btn-volver">Registrarse</a>
</div>
{% endblock %}

{% endwith %}
